
.bluecolor, .redcolor, .greencolor{
    width: 700px;
    height: 100px;
}
.bluecolor{
    background-color: rgb(14, 131, 254);
}
.redcolor{
    background-color: rgb(250, 0, 9);
}
.greencolor{
    background-color: rgb(45, 139, 4);
}
.whitecircle{
    background-color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 113px;
    left: 300px;
}
.redcircle{
    background-color: rgb(250, 0, 9);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 317px;
    z-index: 1;
}
.star_one{
    background-color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 143px;
    left: 380px;
    z-index: 1;
}
.star_two{
    background-color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 143px;
    left: 380px;
    z-index: 1;
    transform: rotate(45deg);
}